{% extends "inter.htm" %}
{% block content %}
    {% load i18n %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "Registration" %}</title>
    </head>
    <body>
        <h2>{% trans "Registration" %}</h2>
        <h3><a href="/">{% trans "Back" %}</a></h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Registration" %}</button>
        </form>
    </body>
    </html>
{% endblock %}
